*{
    box-sizing:border-box;
    font-family: 'Orbitron', sans-serif;
}

body{
    display:grid;
    grid-template-columns:200px auto 200px;
}

#middle{
    display:grid;
    grid-template-rows:50px auto 100px;
    padding-top:10px;
}

#coinArea{
    display:flex;
    justify-content:flex-end;
}

#coinDisp{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:150px;
    background-color:yellow;
    border:2px black solid;
    border-radius:5px;
}

#addMoney{
    display:flex;
    align-items:center;
}

#addMoney > img{
    height:30px;
}

#playArea{
    display:flex;
    justify-content:center;
}

#slot{
    display:grid;
    grid-template-rows: 45px 90px 200px 90px 50px;
    justify-content:center;
    margin-top:50px;
    background-color:red;
    height:600px;
    width:400px;
}

#msg{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:15px;
    background-color:white;
    width:350px;
}

#starAreaOne, #starAreaTwo{
    display:flex;
    justify-content:space-around;
    margin-top:15px;
}

#starAreaOne > img, #starAreaTwo > img{
    height:60px;
    filter:brightness(.8);
}

.rollers{
    display:grid;
    grid-template-columns:auto auto auto;
    align-items:center;
    justify-items:center;
    grid-gap:5px;
}

#roller1, #roller2, #roller3{
    background-color:white;
    width:100px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#roller1 > img, #roller2 > img, #roller3 > img{
    width:80px;
}

#buttonArea{
    display:flex;
    justify-content:space-around;
}

#buttonArea > button{
    font-family: 'Orbitron', sans-serif;
    border-radius:30%;
    width:90px;
}

#playButtonArea{
    display:flex;
    justify-content:center;
    align-items:center;
    width:350px;
}

#playButton{
    font-family: 'Orbitron', sans-serif;
    height:40px;
    width:80px;
}

#rewardDisplay{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}