*{
    box-sizing:border-box;
}

body{
    display:grid;
    grid-template-columns:100px auto 200px;
}

#middle{
    display:grid;
    grid-template-rows:50px auto 100px;
}

header{
    display:flex;
    justify-content:flex-end;
}

#coinDisp{
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:150px;
    background-color:yellow;
    border:2px black solid;
    border-radius:5px;
}

#addMoney{
    display:flex;
    align-items:center;
}

#addMoney > img{
    height:30px;
}

main{
    display:flex;
    justify-content:center;
}